<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="forecasts">
  <thead>
    <tr>
      <th>firstName</th>
      <th>secondName</th>
      <th>thirdName</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.firstName }}</td>
      <td>{{ forecast.secondName }}</td>
      <td>{{ forecast.thirdName }}</td>
      <td>{{ forecast.id }}</td>
    </tr>
  </tbody>
</table>
